[package]
name = "bibi-sync-rust"
version = "0.1.0"
edition = "2021"

[lib]
name="bibi_sync"
crate-type = ["cdylib", "rlib"]

[dependencies]
libc = "0.2"

[build-dependencies]
cbindgen = "0.26"

[dev-dependencies]
